
<img id="이연희" src="http://c.ask.nate.com/imgs/qrsi.php/6244643/8315178/0/1/A/%EC%9D%B4%EC%97%B0%ED%9D%AC.jpg">

<div id="sign_up">
	<h2>Sign up</h2>

		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  
  			<%= devise_error_messages! %>

  			<div><%= f.label :email %> <%= f.email_field :email, :autofocus => true %></div>

  			<div><%= f.label :password %> <%= f.password_field :password %></div>

 			<div><%= f.label :password_confirmation %> <%= f.password_field :password_confirmation %></div>
 			<br />
  			<div><%= f.submit "Sign up", class: "btn btn-primary" %></div>

<% end %>
</div>




<!--
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  
  <div><%= f.label :email %> <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %> <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <label class="checkbox"><%= f.check_box :remember_me %><%= f.label :remember_me %></label>
  <% end -%>
  <br />
  <div><%= f.submit "Sign in", class: "btn btn-primary" %></div>

<% end %>

<%= render "devise/shared/links" %>
-->