<%= form_for(@music) do |f| %>
  <% if @music.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@music.errors.count, "error") %> prohibited this music from being saved:</h2>

      <ul>
      <% @music.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= f.label :album_picture %><br />
    <%= f.text_field :album_picture %>
  </div>
  <div class="field">
    <%= f.label :album_title %><br />
    <%= f.text_field :album_title %>
  </div>
  <div class="field">
    <%= f.label :album_description %><br />
    <%= f.text_field :album_description %>
  </div>
  <div class="field">
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </div>
  <div class="actions">
    <button class="btn btn-primary" src=<%= f.submit %> Upload </button>
  </div>
<% end %>
