
  <div id="content_area">

    <!-- 여기부터가 업로더 위치입니당~~~~-->
    <div id="uploader">
      <%= render 'form' %>
    </div>
    <!-- 여기까지가 업로더 위치입니당~~~ -->

    <!-- 여기부터 뮤직피드 -->
    <div id="musicfeed">
      <ul id="home_stream">

        <% @musics.each do |music| %>
          <li class="streamMusic">
            <div class="musicContent">
              <!-- 사용자 사진 -->
              <img class="userPicture" src ="<%=music.user_picture %>"/>

              <div class="musicInnerContent">
                <div class="mainWrapper">
                  <div role="article">
                    <!-- 사용자 이름 -->
                    <div class="userName">
                      <p><%= music.user_name %></p>
                    </div>
                    <!-- 앨범 제목 -->
                    <div class="albumTitle">
                      <strong><%= music.album_title %></strong>
                    </div>

                    <div class="mainStreamAttachment">
                      <div class="sharedMusic">
                        <!-- 앨범 사진 -->
                        <img class="albumPicture" src ="<%= music.album_picture %>"/>
                        <!-- 앨범 설명 -->
                        <div class="albumDescription">
                          <div class="attachText">
                            <p><%= music.album_description %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>

      </ul>
    </div>
    <!-- 여기까지 뮤직피드 -->



  </div>  
