<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @music.title %>
</p>

<p>
  <b>Description:</b>
  <%= @music.description %>
</p>

<p>
  <b>Filename:</b>
  <%= @music.filename %>
</p>

<p>
  <b>Artist:</b>
  <%= @music.artist %>
</p>


<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
